[build]
  base = "client"
  command = "npm run build"
  publish = "out"

[[redirects]]
  from = "/favicon.ico"
  to = "/logo.png"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = false
